
body {
	margin: 0px;
	padding: 0px;
	font-family: "“helvetica neue”", helvetica, arial, sans-serif; font-size:12px; line-height:16px;
}

.wrapper{margin:auto; width:753px;}


a:link{color:#599cac; text-decoration:none}
a:hover{}
a:visited{}
a:active, a:focus {
	outline: 0 none;
	-moz-outline: 0 none;
	}

h1{font-size:24px; color:#414042; line-height:26px}
h2{font-size:22px; color:#414042; line-height:24px; margin:0px; padding:0px}
h3{}


/* Specials */

a.orange_arrow {
	font-weight:bold;
	background-image: url(images/link_box_arrow.png);
	background-repeat: no-repeat;
	background-position: right center; padding-right:30px; float:left; clear:both; margin-bottom:30px; font-size:12px; color:#322f31
}

/* HEADER ************************************************************************/


.header{height:92px;}

#logo {margin-top:16px; float:left; margin-bottom:5px}

/* Login Menu */
#block-block-1 {float:right;margin-top:87px;  }

/* Current User */

#block-block-11 {float:left; margin-top:87px; margin-right:40px }
#block-block-11 a{color:#000; padding-right:10px}
#block-block-11 a#current_user {
	text-transform:capitalize;
	color:#f0502f; padding-right:40px
}

/* Social */
.social img {margin-left:5px}
.header_right h2 {display:none}

.header_right {float:right; font-size:12px; color:#BCBEC0;}
.header_right a, .header_right a:visited {color:#BCBEC0; text-decoration:none}
.header_right a:hover {color:#F0502F}

/* Messages */
div.messages {margin-top:10px}

/* Primary Naviagtion ************************************************************************/

.prime_nav {border-top:1px solid #bfbfbf; overflow:hidden; clear:both; }
.prime_nav ul, .prime_nav li {margin:0px; padding:0px;}
.prime_nav li {float:left; list-style:none; padding-right:30px; padding-top:10px}
.prime_nav a, .prime_nav a:visited {color:#BCBEC0; font-size:12px; text-decoration:none; padding-top:20px;  }
.prime_nav a.active {color:#000}
.prime_nav a:hover {color:#F0502F}

/* Header Region */

.header_region {margin-top:15px}

/* Above Content */

.above_content h2 {display:none}
.rotator_wrapper {position:relative; height:237px}
.rotator_wrapper img { z-index:1}
.rotator_wrapper h1{position:absolute; z-index:99; bottom:80px; left:30px; color:#fff; font-size:24px; max-width:400px}
.rotator_wrapper .rotator_button{
	position:absolute;
	z-index:99;
	bottom:30px;
	right:0px;
	margin-right:110px;
	background-image: url(images/rotator_button_bg.png);
	padding: 5px 10px; color:#fff;
}
.button_arrow {float:left}

.rotator_wrapper .rotator_button a {color:#fff; text-decoration:none; font-size:14px; display:block; margin-left:3px;	display:block; float:left; max-width:210px
	 }
	 #block-views-home-rotator-block {position:relative}
	
	#widget_pager_bottom_home_rotator-block {position:absolute; bottom:10px; z-index:99; right:110px}
	
	#widget_pager_bottom_home_rotator-block .views-slideshow-pager-field-item{
	background-image: url(images/rotator_pager_up.png);
	background-repeat: no-repeat;
	background-position: center center; width:8px; height:8px; float:left; overflow:hidden; text-indent:500px; margin-right:2px;  cursor:pointer
}

#widget_pager_bottom_home_rotator-block  .active{	background-image: url(images/rotator_pager_over.png);}
	
	
.node-10 .rotator_button a {max-width:180px!important} 
.node-9 .rotator_button a {max-width:150px!important} 
.node-8 .rotator_button a {max-width:190px!important} 

/* MIDDLE ************************************************************************/


.middle{
	margin-top:15px;
	
}

.main_content{ float:left; }


.left {float:left; width:220px}
.right{float:right; }
.right .block {
margin-bottom:10px
}

.right .block h2 {padding:10px 10px 0px 10px; color:#414042; font-size:18px}

.right .block_padding {padding:10px 10px}

.right .block h2.smaller {font-size:14px}
.right .block ul {padding:2px 0px 15px 30px }
.right .block li {
	list-style-image: url(images/link_red_arrow.png); font-size:12px
}
.right .block a {color:#569FAA; text-decoration:none}



/* Twiiter */
.twitter_block {margin-top:20px; position:relative; z-index:1}
#block-block-2 h2{display:none}

/* Home Blog */


#block-views-home-blog-block {height:108px; position:relative}
#block-views-home-blog-block li, #block-views-home-blog-block ul {position:relative; z-index:1; padding-bottom:0px; margin:0px; margin-top:3px}


#block-views-home-blog-block h2 {font-size:13px;}
#block-views-home-blog-block  #widget_pager_bottom_home_blog-block .views-slideshow-pager-field-item{
	background-color:#0CC;
	background-position: center center;
	width:13px;
	height:13px;
	float:left;
	overflow:hidden;
	text-indent:500px;
	margin-right:2px;
background-color:#999; z-index:99; cursor:pointer;
}



#block-views-home-blog-block .views-slideshow-controls-bottom  {position:absolute!important; bottom:10px; left:10px}

#widget_pager_bottom_home_blog-block .active {
	background-color:#F0502F!important
}

#block-views-home-blog-block  #widget_pager_bottom_home_blog-block .views-slideshow-pager-field-item .active {}

/* FOOTER ************************************************************************/


.footer{clear:both; color:#A7A9AC; font-size:11px; padding-top:10px; margin-bottom:20px}
.footer a {color:#A7A9AC;}
.footer .copyright {float:left}
.footer_menu {width:400px; margin:auto; text-align:center; }
.footer_menu h2 {display:none}


.footer_menu ul.menu, .footer_menu  .menu li {margin:0px; padding:0px;list-style:none; list-style-image:none; text-align:center; display:inline; line-height:10px!important}

.footer_menu  li  a{ border-right:1px solid #A7A9AC; color:#A7A9AC; line-height:11px; padding:0px 8px}
.footer_menu   li.last  a{border-right:none!important}
.privacy_menu {float:right}





/* Login Block */
#block-block-3 a {padding:5px 10px; padding-bottom:8px  }
a.login_clicked  {background-color:#F0502F; color:#fff!important}
#block-block-3 {float:left; margin-top:87px; margin-right:30px; }
#block-user-login {
	width:260px;
	height:190px;
	position:absolute;
	top:110px;
	left:50%;
	margin-left:203px;
	z-index:99;
	background-color:#fff;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.5);
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F0502F;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	display:none 
}
#block-user-login  .form-text {
	width:100%;
	padding:3px;
	background-color: #F3F3F3;
}
#block-user-login .content {padding:10px 20px; padding-top:0px}
#block-user-login h2 {font-size:12px; padding:10px 20px; padding-bottom:0px; line-height:normal}
#block-user-login label, #block-user-login .first  {display:none}
#block-user-login li, #block-user-login ul {list-style:none; list-style-image:none; margin:0px; padding:0px; text-align:right}

#block-user-login .last a { color:#999; font-size:11px; position:absolute; bottom:3px; width:200px; right:10px}

#block-user-login  .form-submit {
	float:right;
	
	position:absolute;
	right:10px;
	
	
	
}

/* Drop Down Styles */
.dropdown {
	color:#000;
	cursor:pointer;
	padding-left:15px;
	background-image: url(images/rollover_plus_sign.png);
	background-repeat: no-repeat;
	background-position: left center;   font-weight:bold; margin-bottom:10px;
}

.dropdown_highlighted {
	color:#F0502F
}
.dropdown_container {
	position:absolute;
	border:3px solid #A8A9AD;
	background-color:#F8F8F8;
	width:180px;
	margin-left:10px;
	color:#599cac;
	font-size:12px;
	list-style-image: none;
	list-style-type: circle; display:none; margin-top:-5px;
	
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.5);
} 

.dropdown_padding {padding:5px}

.dropdown_container li {	list-style-image: none!important;
	list-style-type: disc; padding-bottom:3px}
	
	#block-block-6 {background-color:transparent}

/* Home */

.front .confetti_wrapper {margin:auto; width:800px; background-image: url(images/home_confetti.png);
	background-repeat: no-repeat;
	background-position: 7px 390px; overflow:hidden}
	
	.front .right {width:214px; }
	.front .main_content{width:522px;}
.front .content_margin {padding-top:24px ; padding-left:97px; padding-right:20px; }

.front .right .block{background-color:#F6F6F6; }

/* Services */

.page-node-3 .header_region {
	background-image: url(images/services_a_confetti.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.page-node-3 .dropdown {margin-bottom:30px;}
.page-node-3 .dropdown_container {margin-top:-25px}

/* Lenders */
.page-node-21 h1 {width:300px}
.page-node-21 .right {margin-top:70px!important}
.page-node-21 .main_content {width:370px!important}
.page-node-21 .right {width:350px!important}
.page-node-21 .menu-428 a {color:#000}
 .page-node-21 .region-header {
	background-image: url(images/services_b_banner_2.jpg);
	height:237px;
	background-position: center top;
}

.page-node-21 .region-header .block .content{padding-top:150px; padding-left:320px; color:#fff;  font-size:36px; font-weight:bold;}

/* Providers */

.page-node-22 h1 {width:300px}
.page-node-22 .right {margin-top:70px!important}
.page-node-22 .main_content {width:370px!important}
.page-node-22 .right {width:350px!important}
.page-node-22 .menu-428 a {color:#000}

 .page-node-22 .region-header {
	background-image: url(images/services_c_banner_2.jpg);
	height:237px;
	background-position: center top;
}

.page-node-22 .region-header .block .content{padding-top:150px; padding-left:320px; color:#fff;  font-size:36px; font-weight:bold;}






/*Proprietary Valuation */

.page-node-4 h1 {width:330px;}
.page-node-4 .right {margin-top:80px!important}


/* Who We Are */

#block-block-10 p {
	background-color: #FAFAFB; padding:3px
}

.page-node-5 .content_margin {margin-right:100px}

/* Forms */

.form-submit {background-image: url(images/submit_bg.png);
	background-repeat: repeat-x;
	background-position: center center;border:0px;
	cursor:pointer;
	padding:8px 10px;
	color:#fff;
	background-color:#322F31;
	font-weight:bold; }
	
	
.labelHighlight {color:#999}
.labelHighlight span {color:#000}
.grippie {display:none}
.form-item input, textarea {
	padding:3px;
	background-color: #F3F3F3; font-family:Arial, Helvetica, sans-serif; font-size:12px }
	
/* Survey */
#block-webform-client-block-19 {position:relative; right:40px}	
#block-webform-client-block-19 h2 {display:none}
#block-webform-client-block-19 .option{ display:block; float:right; text-align:left; width:310px; }
#block-webform-client-block-19  .form-item {clear:both; padding-bottom:5px; overflow:hidden;}
#block-webform-client-block-19 fieldset {border:none; padding:0px; margin:0px; padding-top:1px}
#block-webform-client-block-19 .fieldset-legend {font-weight:bold; }
#webform-component-could-you-please-provide-some-background-on-your-facility label,  #webform-component-contact-information label {display:none}
.page-node-18 .main_content{width:300px!important}
.page-node-18 .right {width:350px!important; padding:0px}
.page-node-18 .right .block .content {padding:0px}
#block-webform-client-block-19 input.form-text {width:330px}
#block-webform-client-block-19 .form-submit {float:right}


#block-webform-client-block-19  .webform-component-textfield , #block-webform-client-block-19 legend,  #block-webform-client-block-19 label, #block-webform-client-block-19 .form-type-checkbox,#block-webform-client-block-19   .form-type-radio{padding-left:15px}
#block-webform-client-block-19 textarea {margin-left:15px}

#webform-component-could-you-please-provide-some-background-on-your-facility legend, label[for=edit-submitted-what-are-you-currently-seeking-debt-for], label[for=edit-submitted-what-are-your-current-financing-requirements], label[for=edit-submitted-are-you-interested-in-a-particular-type-of-loan],
label[for=edit-submitted-would-you-be-restricted-from-using-this-type-of-financing-due-to-any-of-the-following-reasons], #webform-component-contact-information--name-title, #webform-component-contact-information--company-organization, #webform-component-contact-information--phone, .orange-required

{
	background-image: url(images/survey_required_dot.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.orange-required {
	color:#F0502F;
	padding-left:15px
}

#block-webform-client-block-19   .option {padding-left:0px!important}

/* contact */
#block-webform-client-block-17 h2, #block-webform-client-block-17 label {display:none}
#block-webform-client-block-17 .form-text {width:260px}
#block-webform-client-block-17 textarea  {width:270px}
.page-node-6 .main_content{width:350px!important}
#block-webform-client-block-17 .form-submit {float:right; margin-right:10px}
#block-webform-client-block-17 .form-item {margin-bottom:20px}

/* Privacy Policy */

.page-node-2 .main_content{width:390px!important; margin-left:100px; margin-top:30px}
.page-node-2 .confetti_wrapper {margin:auto; width:800px; background-image: url(images/privacy_confetti.png);
	background-repeat: no-repeat;
	background-position: 5px 200px; overflow:hidden}


/* Sidebars */

.not-front.one-sidebar.sidebar-second .main_content {width:421px}
.not-front.one-sidebar.sidebar-second .right {width:280px; margin-top:50px}

.one-sidebar.sidebar-first .main_content {float:none; padding-left:30px; overflow:hidden ;}

/* Blog */

#block-blog-recent h2 {margin-bottom:10px}
#block-blog-recent li {margin-bottom:10px}
.page-blog .node-blog {margin-bottom:20px}
.page-blog h2{font-size:16px; line-height:normal; color:#0FC}
.page-blog h2 a {color:#599cac;}
.submitted {font-size:11px; color:#999}

/* jcaption */

 div.caption {
	margin: 0;
	padding:0;
	position: relative; width:400px
}

 div.caption p {
	position: absolute;
	margin: 0; padding: 10px;
	font-size: 12px;
	bottom: 0;
	left: 0;
	background:black;
	color: white;
	opacity: .8; display:block; line-height:16px; 
}







#block-block-3 {display:none}